/* CSS Document */
    * {
    box-sizing: border-box;
}

@font-face {
    font-family: "Capitolium";
    src: url("../fonts/Capitolium/Capitolium\ RegularRoman.otf");
    src: url("../fonts/CapitoliumHead/CapitoliumHead 2 W03 Regular.ttf");
}

@font-face {
    font-family: "BentonSans";
    src: url("/fonts/BentonSans-Medium.otf")
}

@font-face {
    font-family: "BentonBold";
    src: url("/fonts/BentonSans-Bold.otf")
}

@font-face {
    font-family: "BentonThin";
    src: url("/fonts/BentonSans-Thin.otf")
}

@font-face {
    font-family: "Merriweather";
    src: url("/fonts/Merriweather.ttf")
}

ul {
    padding: 0;
}

figure {
    padding: 0;
    margin: 0;
}

body {

    font-family: Capitolium;
    margin-right: 0;
    margin-left: 0;
}

hr {
    width: 100vw;
}

main header ul li {
    justify-content: space-between;
}

header nav {
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    height: 50px;
    width: 100vw;
}

header nav ul {
    display: flex;
    font-family: 'Merriweather';
    max-width: 350%;
    width: 260%;
    height: 100%;
    list-style: none;
    background-color: white;
    justify-content: space-between;
}

header nav ul li a {
    color: black;
    text-decoration-line: none;
    margin-left: 1em;
}

header section img {
    width: 92%;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0.75em;
}

main section article img {
    width: 60px;
}

header nav .active {
    padding-bottom: 8px;
    border-bottom: 4px solid #000;
}

.active {
    font-weight: bold;
}

h1 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    width: 95%;
}

h2 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 2em;
    margin-bottom: 0.5em;
    width: 95%;
    margin-left: 0.5em;
}

.netbinnen figcaption {
    font-size: 1.3em;
    width: 92vw;
}

p {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

figure img {
    margin-left: 1em;
}

footer {
    list-style-type: none;
    width: 92vw;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer li {
    line-height: 1.5;
}

footer a {
    text-decoration-line: none;
    color: black;
    list-style-type: none;
    list-style: none;
    margin-left: 1em;
}

.bold {
    font-weight: bold;
    color: black;
    line-height: 2;
    list-style-type: none;
}

.nieuws {
    width: 100vw;
}

.voetbal {
    width: 92vw;
}

.politiek {
    width: 92vw;
}

.nieuws figure {
    display: flex;
    align-items: center;
}

.artikelen {
    width: 95%;
}

.hoogte-img {
    width: 95%;
}

figcaption {
    margin-left: 17px;
    max-width: 82%;
    font-size: 1.3em;
}

hr {
    width: 94%;
    margin-bottom: 1em;
    margin-top: 1em;
}

p {
    margin: 0em;
    font-weight: 900;
    margin-left: .2em;
    margin-right: .2em;
}

.nietbold {
    font-size: 1em;
    margin-bottom: 1em;
}

.martelkamer {
    width: 94%;
    margin-left: 1em;
    margin-right: 1em;
}

aside nav {
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

aside nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Merriweather';
    font-size: 1em;
    height: 100%;
    background-color: white;
    color: #727272;
    padding-top: 0.5em;
    text-decoration: none;
    border-top: 1px solid black;
    width: 100%;
    margin-left: 0;
}

figure p strong {
    margin-right: 20px;
    margin-left: 17px;
}

main aside nav ul li a {
    text-decoration-line: none;
    color: #727272;
}

article figcaption {
    margin-left: 0;
    width: 93vw;
    font-size: 1.3em;
}

figure p {
    display: flex;
    margin-left: 0;
    font-size: 1em;
    padding-bottom: 0.7em;
    font-weight: 700;
    padding-top: 0.3em;
    font-family: "BentonSans-Thin";
}

section article {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100vw;
    margin-right: 1em;
    margin-left: 1em;
}

.netbinnen p {
    font-size: 1em;
}

strong {
    font-family: "BentonSans-Bold";
}

.bold {
    font-weight: bold;
    color: black;
    line-height: 2;
    list-style-type: none;
}

.boldrechts {
    font-weight: bold;
    color: black;
    line-height: 2;
    list-style: none;
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    border: 4px solid #Fff;
    animation: loader 1s infinite ease;
    top: 35em;
}

.loader-inner {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.loader-wrapper {
    width: 100%;
    height: 340%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@keyframes fadeOut {

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-wrapper {

    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@media (min-width: 700px) {

    main header ul li {
    justify-content: space-between;
}

    header nav {
    overflow-x: auto;
    overflow-y: hidden;
    top: 0;
    height: 50px;
    width: 99%;
}
    hr {
        width: 100%;
    }

    header nav ul {
    display: flex;
    font-family: 'Merriweather';
    max-width: 233%;
    width: 208%;
    height: 100%;
    list-style: none;
    background-color: white;
    justify-content: space-between;
}

    header nav ul li a {
    color: black;
    text-decoration-line: none;
    margin-left: 1em;
}
    h1 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    width: 94%;
}
    
    h2 {
    padding-top: 0.3em;
    border-top: 5px solid #008bc3;
    font-size: 2em;
    margin-bottom: 0.5em;
    width: 94%;
}
    
    aside nav ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        font-family: 'Merriweather';
        font-size: 1em;
        height: 100%;
        background-color: white;
        color: black;
        padding-top: 0.7em;
        text-decoration: none;
        border-top: 1px solid grey;
        width: 100%;
        padding-left: 0;
    }

    aside nav {
        overflow-x: auto;
        overflow-y: hidden;
        height: 56px;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .nieuws figcaption {
        font-size: 1.3em;
    }

    img {
        max-width: 400px;
    }

    .nieuws {
        position: absolute;
        margin-right: 1em;
        left: 400px;
        top: 0;
        margin: 20px;
        margin-left: 2.5em;
        width: 50vw;
        max-width: 400px;
        margin-top: 2.5em;
        margin-right: 1em;
    }

    .nieuws hr {
        width: 91%;
    }

    .netbinnen {
        left: 0;
        top: 100px;
    }

    section figure img {
        width: 75px;
        margin-right: 10px;
    }

    footer {
        display: flex;
        font-size: 1em;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: 1em;
    }

    footer ul li a {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        list-style: none;
        margin-right: 10px;
        font-family: "Benton-Thin";
        line-height: 2;
    }

    section article h3 {
        padding: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        font-family: BentonSans;
    }

    section article figcaption {
        max-width: 400px;
        margin-bottom: 1em;
    }

    section article img {
        max-width: 400px;
    }

    section article {
        max-width: 400px;
    }

    .netbinnen {
        max-width: 400px;
        margin-top: 50px;
    }

    .boldrechts {
        margin-right: 10px;
        list-style-type: none;
        list-style: none;
    }

    .loader-wrapper {
        height: 225%;
        width: 100%;
    }
    
    .loader {
    display: inline-block;
    width: 80%;
    height: 80px;
    position: absolute;
    border: 4px solid #Fff;
    animation: loader 1s infinite ease;
    top: 40em;
}

    footer li a {
        list-style: none;
        list-style-type: none;
    }

    ul {
        list-style: none;
    }
    
    main aside nav ul li a {
    text-decoration-line: none;
    color: #727272;
    margin-bottom: 0.5em;
}
    
    @media (min-width: 1200px) {
        
        .netbinnen {
            margin-top: -25,46em;
            max-width: 130px;
           
        }
        
        .nieuws {
            position: absolute;
            margin-right: 1em;
            left: 420px;
            top: 0;
            margin: 20px;
            margin-left: 2.5em;
            width: 50%;
            max-width: 400px;
            margin-top: 2.2em;
            margin-right: 1em;        
}
        article {
            margin-left: 0;
        }
        
        hr { 
        width: 100%;
     }
        
        @media (min-width: 1065px) {
            
            .nieuws {
            position: absolute;
            margin-right: 1em;
            left: 420px;
            top: 0;
            margin: 20px;
            margin-left: 2.5em;
            width: 50vw;
            max-width: 400px;
            margin-top: 2.2em;
            margin-right: 1em;
            }
        }
        
            .netbinnen {
            margin-top: -25.45em;
            max-width: 330px;
            float: right;
            margin-right: 1em;
        }
        
            .martelkamer {
            width: 100%;
            margin-left: 1em;
            margin-right: 1em;
            height: 300px;
        }
        }
        
        section article {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
        margin-right: 1em;
        margin-left: 1em;
}
    hr {
        width: 100%;
    }
    
    .loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    border: 4px solid #Fff;
    animation: loader 1s infinite ease;
    top: 35em;
}

.loader-inner {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 1s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.loader-wrapper {
    width: 100%;
    height: 170%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@keyframes fadeOut {

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.loader-wrapper {

    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
    
hr { 
        width: 91%;
     }
    
    
    @media (min-width: 1320px) {
        
        .netbinnen {
            margin-top: -25,46em;
            width: 300px;
            margin-right: 1em;
           
        }
        
        .nieuws {
            position: absolute;
            margin-right: 1em;
            left: 530px;
            top: 0;
            margin: 20px;
            margin-left: 2.5em;
            width: 50vw;
            max-width: 400px;
            margin-top: 2.2em;
            margin-right: 1em;        
}
        article {
            margin-left: 0;
        }
        
        hr { 
        width: 91%;
     }

    
